name: Build Electron App

on:
  - push
  - workflow_dispatch

jobs:
  release:
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        working-directory: docs

    strategy:
      matrix:
        # os: [macos-latest, ubuntu-latest, windows-latest]
        os: [windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23  # Adjust to match your project

      # Build doesn't work on windows because of how the script is written
      # - name: Build Project
      #   run: npm run build

      - name: Install Dependencies
        run: npm ci

      - name: Package Project
        run: npm run package

      - name: Make Electron App
        run: npm run make

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: electron-build-${{ matrix.os }}
          path: docs/out/make/zip
